body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:Gotham-Book;
  background: radial-gradient(ellipse at center, #1e499c 0%,#252b62 37%,#141540 100%);
  overflow-y: hidden;
}

.searchIntro > h2{
  font-family: GothamBold;
font-size: 1.4em;
letter-spacing: 2px;
}
#searchOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display:block;
  text-align: center;
  width: 80%;
  color: white;
  background: rgba(238, 238, 238, 0);
  font-size: 1.1em;
}
#inputTweet{
  font-size: 2em;
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  text-align: center;
  background-blend-mode: screen;
  color: white;
}

button{
  width: 50px;
    padding: 0;
    background: none;
    border: none;
    opacity: 0.5;
    margin: 10px;
}
button >img{
  width: 100%;
}
.logo {
  width: 100px;
  height: 100px
}
#sun{
  display: none;
}
.listContainer{
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    text-align: right;
    color: white;
    padding: 10px;
    /*background: rgba(255,255,255,0.2);*/
}
.listContainer > ul {
  padding: 0;
  list-style: none;
}
.listContainer > li {
  margin-top: 10px;
  margin-bottom: 5px;
}
.listContainer > span{
  width: 100%;
    display: block;
}
.tweetName{
  font-size: 1em;
  font-family: 'GothamBold';
  width: 100%;
  display: block;
  margin-top: 20px;
}
.screenName{
  width: 100%;
  margin-top: 10px;
  margin-bottom:10px;
  display: block;
  font-size: 0.8em;
}
.tweetContent{
  width: 100%;
  display: block;
  font-size: 0.6em;
  font-family: 'Gotham-Book';

}
